/*  media strategic start  */

@media screen and (max-width: 480px) {
  .strategic {
    padding-top: 30px;
  }
  .strategic__wrapper {
    padding-bottom: 20px;
  }
  .strategic__title {
    text-align: center;
  }
}

/*  media strategic and  */
