/*  media header start  */

@media screen and (max-width: 1224px) {
  .header__content {
    top: 60px;
    left: 114px;
  }

  .aside {
    .aside__content {
      left: 114px;
    }
    .aside__img {
      max-width: 87%;
      img {
        max-height: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header__content {
    top: 30px;
    left: 100px;
  }

  .aside {
    .aside__content {
      left: 100px;
    }
    .aside__img {
      max-width: 87%;
      img {
        max-height: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .header__title {
    font-size: 130px;
  }
  .header__text {
    margin-top: -2px;
  }
}
@media screen and (max-width: 767px) {
  .header__content {
    left: 83px;
  }
  .header__title {
    font-size: 50px;
    padding-left: 6px;
  }

  .aside__content {
    top: 30px;
    margin-left: -16px;
  }

  .aside__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__content {
    max-width: 80%;
    left: 64px;
  }
}

/*  media header and  */

/*  1. Добавить бургер, 
2."We create" опустить ниже??? 
3. Download просто добавить пунктом меню
*/
