/*  media process start  */
@media screen and (max-width: 992px) {
  .process {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 481px) {
  .process__text {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100%;
    p {
      max-width: 100%;
    }
  }
  .process__wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .process__img {
    min-width: 100%;
    order: 2;
    img {
      min-width: 100%;
    }
  }
  .process__content {
    width: 100%;
  }
  .process__title {
    text-align: center;
  }
}

/*  media process and  */
