$bl00: #000000;
$bl10: #101010;
$bl1d: #1d1d1d;
$gr59: #595959;
$gr71: #717171;
$c5: #c5c5c5;
$gre8: #e8e8e8;
$eylffa: #ffa800;
$eylffc: #ffc600;
$e89: #e89800;
$whff: #ffffff;

$mpIt: MyriadPro-It, san-serif;
$mp: MyraidPro, san-serif;
