.strategic {
  padding-top: 65px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -1px;
}
.strategic__wrapper {
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 45px;
}
.strategic__text_it {
  padding: 1.8em 0;
}
